<h3>Un de vos contact a été modifié</h3>

<ul>
    <li>Nom : {{ nom }}</li>
    <li>Adresse : {{ adresse }}</li>
    <li>Téléphone : <a href="tel:{{ telephone }}">{{ telephone }}</a></li>
    <li>Email : <a href="mailto:{{ mail }}">{{ mail }}</a></li>
    {% if rendezVous is defined %}
        <li>Rendez-vous : {{ rendezVous }}</li>
    {% endif %}
    {% if commentaire is defined %}
        <li>Commentaire : {{ commentaire }}</li>
    {% endif %}
</ul>