<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Intranet{% endblock %}</title>
        {% block imports %}
            {% stylesheets '@HEICoreBundle/Resources/public/css/bootstrap.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
            {% javascripts '@HEICoreBundle/Resources/public/js/fontawesome-all.min.js' %}
                <script defer src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="background-color: #2e3192">
                <div class="col-md-2" style="margin: 5px 0 5px 0;">
                    <a href="{{ path('hei_core_homepage') }}">
                        {% image '@HEICoreBundle/Resources/public/images/logoEspace.png' %}
                            <img src="{{ asset_url }}" alt="Logo">
                        {% endimage %}
                    </a>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-4 text-white text-right">
                    <h5>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }} -
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 bg-secondary">
                    <ul class="nav flex-column list-unstyled">
                        <li class="nav-item">
                            <a href="{{ path('hei_contact_add') }}" class="nav-link text-white"><h2>Contact</h2></a>
                            <ul class="list-unstyled" style="margin-left: 20%">
                                <li><a href="{{ path('hei_contact_add') }}" class="nav-link text-white"><h4>Ajouter</h4></a></li>
                                <li><a href="{{ path('hei_contact_search') }}" class="nav-link text-white"><h4>Rechercher</h4></a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white"><h2>Gestion</h2></a>
                            <ul class="list-unstyled" style="margin-left: 20%">
                                <li><a href="{{ path('fos_user_registration_register') }}" class="nav-link text-white"><h4>Utilisateurs</h4></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>