<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Intranet{% endblock %}</title>
        {% block imports %}
            {% stylesheets
                '@HEICoreBundle/Resources/public/css/bootstrap.css'
                '@HEICoreBundle/Resources/public/css/dropdown.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
            {% javascripts
                '@HEICoreBundle/Resources/public/js/jquery-3.2.1.min.js'
                '@HEICoreBundle/Resources/public/js/fontawesome-all.min.js'
                '@HEICoreBundle/Resources/public/js/bootstrap.min.js'
            %}
                <script defer src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body id="bootstrap-overrides">
        <div class="container-fluid">
            <div class="row" style="background-color: #2e3192">
                <div class="col-md-2" style="margin: 5px 0 5px 0;">
                    <a href="{{ path('hei_core_homepage') }}">
                        {% image '@HEICoreBundle/Resources/public/images/logoEspace.png' %}
                            <img src="{{ asset_url }}" alt="Logo">
                        {% endimage %}
                    </a>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2 text-white">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul id="menu">
                            <li>
                                <a href="#">
                                    <i class="fas fa-user"></i>  {{ app.user.username }}
                                </a>
                                <ul>
                                    <li><a href="{{ path('fos_user_profile_edit') }}"><h5>Profil</h5></a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><h5>Déconnexion</h5></a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 bg-secondary">
                    <ul class="nav flex-column list-unstyled">
                        <li class="nav-item">
                            <a href="{{ path('hei_contact_add') }}" class="nav-link text-white"><h2>Contact</h2></a>
                            <ul class="list-unstyled" style="margin-left: 20%">
                                <li><a href="{{ path('hei_contact_add') }}" class="nav-link text-white"><h4>Ajouter</h4></a></li>
                                <li><a href="{{ path('hei_contact_search') }}" class="nav-link text-white"><h4>Rechercher</h4></a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_DIRECTION') %}
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white"><h2>Gestion</h2></a>
                                <ul class="list-unstyled" style="margin-left: 20%">
                                    <li><a href="{{ path('hei_gestion_users') }}" class="nav-link text-white"><h4>Utilisateurs</h4></a></li>
                                </ul>
                                <ul class="list-unstyled" style="margin-left: 20%">
                                    <li><a href="{{ path('hei_marge_homepage') }}" class="nav-link text-white"><h4>Marges</h4></a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-10">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>