{% extends 'HEICoreBundle::layout.html.twig' %}

{% block imports %}
    {{ parent() }}
    {% javascripts
        '@HEIContactBundle/Resources/public/js/jquery-3.2.1.min.js'
        '@HEIContactBundle/Resources/public/js/jquery.dataTables.min.js'
        '@HEIContactBundle/Resources/public/js/dataTables.bootstrap4.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% stylesheets '@HEIContactBundle/Resources/public/css/dataTables.bootstrap4.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
    <div class="row" style="padding: 1% 0 1% 0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="text-right">
                        <a href="#" class="card-link"><i class="far fa-edit fa-2x"></i></a>
                    </div>
                    <h4 class="card-title">{{ contact[0].civilite }} {{ contact[0].nom }} {{ contact[0].prenom }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Ajouté le {{ contact[0].dateAjout.date }}</h6>
                    <p class="card-text">
                        {{ contact[0].adresse }}<br />
                        {{ contact[0].codePostal }}, {{ contact[0].ville }}
                    </p>
                    <p class="card-text"><a href="mailto:{{ contact[0].email }}">{{ contact[0].email }}</a></p>
                    <p class="card-text">{{ contact[0].telephone }}</p>
                    <p class="card-text">Origine : {{ contact[0].origine }}, {{ contact[0].origineDetail }}</p>
                    <p class="card-text">Commercial : {{ contact[0].commercial.nom }} {{ contact[0].commercial.prenom }}</p>
                    <p class="card-text">Commentaire : {{ contact[0].commentaire }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around" style="padding: 1% 0 1% 0">
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-dark btn-block" onclick="location.href='{{ path('hei_file_add', {'type':'photo', 'id':contact[0].id}) }}'">
                Photo
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-dark btn-block" onclick="location.href='{{ path('hei_file_add', {'type':'Devis', 'id':contact[0].id}) }}'">
                Devis
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-dark btn-block" onclick="location.href='{{ path('hei_file_add', {'type':'Plans', 'id':contact[0].id}) }}'">
                Plan
            </button>
        </div>
    </div>

    <div class="row justify-content-around" style="padding: 1% 0 1% 0">
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-dark btn-block" onclick="location.href='{{ path('hei_file_add', {'type':'Administratif', 'id':contact[0].id}) }}'">
                Administratif
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-dark btn-block" onclick="location.href='{{ path('hei_file_add', {'type':'Chèque', 'id':contact[0].id}) }}'">
                Chèque
            </button>
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 1% 0 1% 0">
        <div class="col">
            <div class="btn-group" style="width: 100%" role="group" aria-label="Avancement du contact">
                <button class="btn btn-primary btn-block" style="margin: 0">Enregistré</button>
                <button class="btn btn-secondary btn-block" style="margin: 0">Devis ajouté</button>
                <button class="btn btn-secondary btn-block" style="margin: 0">Signature</button>
                <button class="btn btn-secondary btn-block" style="margin: 0">DT / PC</button>
                <button class="btn btn-secondary btn-block" style="margin: 0">Démarrage</button>
                <button class="btn btn-secondary btn-block" style="margin: 0">Chantier</button>
                <button class="btn btn-secondary btn-block" style="margin: 0">Réception</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 1% 0 1% 0">
        <table id="files" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nom du fichier</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for file in contact[0].files %}
                    <tr>
                        <td>{{ file.nom }}</td>
                        <td>{{ file.type }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" onclick="location.href='{{ path('hei_file_download', {'id':contact[0].id, 'filename':file.nom}) }}'">Télécharger</button>
                            <button type="button" class="btn btn-danger  btn-sm" onclick="location.href='{{ path('hei_file_remove', {'id':contact[0].id, 'filename':file.nom}) }}'">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#files').DataTable();
        });
    </script>
{% endblock %}